
*~
*.dll
*.*~
*.mdb
*.pdb
*.pidb
*.vcproj
*.user
*.ncb
*.aps
*.suo
*.sln
*.userprefs
*.usertasks
*.orig
*.cache
*.ReSharper

*/bin/*
*/obj/*
*/test-results/*
/test-results/

/examples/*/bin/*
/examples/*/test-results/*

/_UpgradeReport_Files/*

/redist/*.zip

/examples/Simple/obj/Debug/Simple.csproj.FileListAbsolute.txt
/examples/Simple/obj/Debug/Simple.exe
/examples/SimpleVB/obj/Debug/SimpleVB.exe
/examples/SimpleVB/obj/Debug/SimpleVB.vbproj.FileListAbsolute.txt