
*~
*.dll
*.*~
*.mdb
*.pdb
*.pidb
*.vcproj.*.user
*.ncb
*.aps
*.suo

*.userprefs
*.usertasks

test-results/*.xml
MongoDB.Net-Tests/test-results/MongoDB.Driver.Tests.csproj.test-cache

*.suo
/_UpgradeReport_Files/*
obj/*
