<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="mongo.host" value="localhost"/>
    <add key="mongo.port" value="27017"/>
  </appSettings>
</configuration>