<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mongo" type="MongoDB.Configuration.MongoConfigurationSection, MongoDB" />
  </configSections>
  <mongo>
    <connections>
      <add key="default" connectionString="Server=localhost:27017" />
    </connections>
  </mongo>
</configuration>