<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Mongo" type="MongoDB.Driver.Configuration.MongoConfiguration, MongoDB.Driver" />
  </configSections>

  <Mongo>
    <connections>
      <add key="local21018" connectionString="Server=localhost:27018"/>
      <add key="defaults"/>
      <add key="tests" connectionString="Server=localhost:27017" />
    </connections>
  </Mongo>

  <appSettings>
    <add key="tests" value="Server=localhost:27017" />
  </appSettings>
</configuration>