<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoDB" type="MongoDB.Driver.Configuration.MongoDBConfiguration, MongoDB.Driver" />
  </configSections>
  <MongoDB host="servername" port="27017" database="test" use_authentication="true" username="user" password="password" />
  
</configuration>